<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Student Confirmation</title>
</head>
<body>
    <h3>Student Confirmation</h3>

    <div>
      <p>
        The student is confirmed: <span th:text="${student.firstName} + ' ' + ${student.lastName}"></span>
      </p>
      <p>
        The age is: <span th:text="${student.age}"></span>
      </p>
        <p>
            The postal code is: <span th:text="${student.postalCode}"></span>
        </p>
        <p>
            The country is: <span th:text="${student.country}"></span>
        </p>
        <p>
            The study is: <span th:text="${student.study}"></span>
        </p>
        <p>
            The favorite language is: <span th:text="${student.favoriteLanguage}"></span>
        </p>
        <p>The favorite operating system(s) is / are: </p>
        <ul>
            <li th:each="tempOperatingSystems: ${student.favoriteOperatingSystems}" th:text="${tempOperatingSystems}"></li>
        </ul>
    </div>
</body>
</html>